<!DOCTYPE html>
<head>
    <title>Cloud Image Gallery - Manager App Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<html>
    <body>
        <div class = "wraper">
        <div class = "logoTitle">
            <a href="{{ url_for('home') }}">
                <img src="../static/CloudLogo.svg" style="width:130%; height: auto" alt="Logo">
            </a>
            <a href="{{ url_for('home') }}" style="text-decoration: none">
                <h1 class="title"><span class="letter">C</span>loud
                    <span class="letter">I</span>mage
                    <span class="letter">G</span>allery</h1>
            </a>
        </div>
        <div class = 'container'>
            <div class = 'button-group'>
                <div class="manager-title">
                    <a href="~/">
                        <img src="../static/EYE.svg" style="height: 11vmin; width: 11vmin" alt="EYE">
                    </a>
                    <h1 class="manager-word"><span class="manager-letter">M</span>anager
                    <span class="manager-letter">I</span>nterface</h1>
                </div>
                <a href="{{ url_for('config') }}">
                    <button type="button" style="background-color: #a7a48f;">Parameters Configuration</button>
                </a>
                <a href="{{ url_for('resize_form') }}">
                    <button type="button" style="background-color: #88979a;">Memcache Pool Resizing</button>
                </a>
                <a href="{{ url_for('statistics') }}">
                    <button type="button" style="background-color: #a77b76;">Memcache Pool Statistics</button>
                </a>
                <a href="{{ url_for('clear_form') }}">
                    <button type="button" style="background-color: #a0805e;">Clear Image</button>
                </a>
                <h2 class="link"><a href="/home" style="color: inherit; text-decoration: inherit"><u>Link to User Interface</u></a></h2>
            </div>
        </div>
        </div>
    </body>
</html>