<!DOCTYPE html>
<head>
    <title>Search by Key Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<html>
    <body>
        {% include "nav_bar.html" %}
        <div class="formContainer">
            <form action="{{ url_for('key')}}" method="post">
                <label for="key" class="form-label">Key</label>
                <input type="text" name="key" id="key" class="form-control required"/>
                <div style="text-align: center">
                    <button type="submit" value="get" class="form-button">Get Image</button>
                </div>
            </form>
        </div>
    </body>
</html>